<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Querier</title>
    <script>
      if (typeof module === 'object') {
        window.module = module; module = undefined;
      }
    </script>
    <script src="client/components/jquery/dist/jquery.min.js"></script>
    <script>
      if (window.module) {
        module = window.module;
      }
    </script>
    <link type="text/css" rel="stylesheet" href="client/styles/styles.css" />
    <link
      type="text/css"
      rel="stylesheet"
      href="client/components/codemirror/lib/codemirror.css" />
    <link
      rel="stylesheet"
      href="client/components/codemirror/addon/hint/show-hint.css" />
  </head>
  <body>
    <div id="app">
      <div class="tabs">
        <div
          class="tab"
          v-for="tab in tabs"
          v-on:click="focusTab(tab)"
          v-bind:class="{ active: tab.active }">
          {{ tab.name }}
          <span v-on:click="closeTab(tab)" class="tab-close-button">x</span>
        </div>
        <div v-on:click="newTab()" class="tab new-tab">
          +
        </div>
      </div>
      <div
        class="tab-content"
        v-for="tab in tabs"
        v-bind:class="{ active: tab.active }">
        <div class="config">
          <div>
            <label>
              Server:
            </label>
            <input
              type="text"
              class="server-input"
              v-model="tab.config.server"/>
          </div>
          <div>
            <label>
              Database:
            </label>
            <input
              type="text"
              class="database-input"
              v-model="tab.config.database"/>
          </div>
          <div>
            <label>
              Username:
            </label>
            <input
              type="text"
              class="username-input"
              v-model="tab.config.user"/>
          </div>
          <div>
            <label>
              Password:
            </label>
            <input 
              type="password"
              class="password-input"
              v-model="tab.config.password"/>
          </div>
        </div>
        <div class="query-editor">
          <sql-editor v-on:run="runQuery(tab)" v-model="tab.query">
          </sql-editor>
          <button v-on:click="runQuery(tab)" class="run">Run</button>
        </div>
        <div class="results">
          <div class="tabs">
            <div
              v-on:click="tab.resultViewTab = 'tables'"
              v-bind:class="{ active: tab.resultViewTab == 'tables' }"
              v-if="tab.results.tables.length > 0"
              class="tab">
              Results
            </div>
            <div
              v-on:click="tab.resultViewTab = 'messages'"
              v-bind:class="{ active: tab.resultViewTab == 'messages' }"
              v-if="tab.results.rowsAffected.length > 0 || tab.results.error != null"
              class="tab">
              Messages
            </div>
          </div>
          <div
            v-bind:class="{ active: tab.resultViewTab == 'tables' }"
            v-if="tab.results.tables.length > 0"
            class="results-viewer tab-content">
            <results-grid 
              v-bind:table="table"
              v-for="table in tab.results.tables">
            </results-grid>
          </div>
          <div
            v-bind:class="{ active: tab.resultViewTab == 'messages' }"
            class="tab-content">
            <p
              v-for="affectedRowNumber in tab.results.rowsAffected"
              class="message">
              ({{ affectedRowNumber }}) Rows affected
            </p>
            <p v-if="tab.results.error != null" class="error">
              <span>
                Msg {{ tab.results.error.originalError.info.number }},
                Level {{ tab.results.error.originalError.info.class }}, 
                State {{ tab.results.error.originalError.info.state }}, 
                Line {{ tab.results.error.originalError.info.lineNumber }}
              </span>
              <br>
              <span>
                {{ tab.results.error.originalError.info.message }}
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <script
      src="client/components/codemirror/lib/codemirror.js"></script>
    <script
      src="client/components/codemirror/addon/hint/show-hint.js"></script>
    <script
      src="client/components/codemirror/addon/hint/sql-hint.js"></script>
    <script
      src="client/components/codemirror/mode/sql/sql.js"></script>
    <script
      src="node_modules/vue/dist/vue.js"></script>
    <script
      src="client/scripts/resultsGrid.vue.js"></script>
    <script
      src="client/scripts/client.js"></script>
  </body>
</html>